@font-face{
	font-family: Roboto-Medium;
	src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face{
	font-family: Roboto-Regular;
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face{
	font-family: Lato-Medium;
	src: url(../fonts/lato/Lato-Medium.ttf);
}
@font-face{
	font-family: Lato-Bold;
	src: url(../fonts/lato/Lato-Bold.ttf);
}
@font-face{
	font-family: Lato-Regular;
	src: url(../fonts/lato/Lato-Regular.ttf);
}
@font-face{
	font-family: Lato-Semibold;
	src: url(../fonts/lato/Lato-Semibold.ttf);
}


/*common start*/
body{
	font-family: Roboto-Regular;
	font-size: 16px;
	font-weight: 400;
	color: #8e8e8e;
	padding: 0 !important;
	margin: 0 !important;
}
/*common end*/

/*header start*/
header{
	border: 1px solid red;
}
.logo{
	font-family: Lato-Medium;
	font-weight: 500;
	font-size: 30px;
	color: #333333;
}
.menu ul li a{
	padding: 5px 15px !important;
	font-family: Lato-Regular;
	font-weight: 400;
	color: #8e8e8e !important;
	text-transform: uppercase;
	transition: 0.3s;
}
.menu ul li a:hover{
	font-family: Lato-Bold;
	font-weight: 700;
	color: #333333 !important;
}
.nav_search{}
.nav_search a{
	padding: 5px 0 !important;
	padding-left: 15px !important;
}
.btn_search{
	color: #8e8e8e;
	transition: 0.3s;
}
.btn_search:hover{
	color: #333333 !important;
}
.btn_search:focus{
	box-shadow: none;
}
.c_dd_menu {
    min-width: 400px;
    padding: 5px 2px;
}
.c_dd_menu[data-bs-popper] {
    top: 50px;
    left: -356px;
}
.c_input_1:focus{
	box-shadow: none;
}
.b_s_icon{
	margin-left: -20px;
}
/*header end*/
/*slider start*/
.slider{
	background-image: url(../images/slider.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/*min-height: 300px;*/
}
.s_1{
	margin-top: 200px;
	margin-bottom: 200px;
}
.s_1 h1{
	font-family: Lato-Bold;
	font-size: 60px;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 40px;
}
.s_1 p{
	color: #ffffff;
	margin-bottom: 50px;
}
.s_1 button{
	font-family: Roboto-Medium;
	font-weight: 500;
	padding: 10px 30px;
	font-size: 16px;
}
.ccp,.ccn{
	display: inline-block;
	top: 95% !important;
	color: #8e8e8e;
}
.ccp span,.ccn span{
	background-image: none;
}
.ccp{}
.ccp:hover{
	color: #333333;
}
.ccn{
	left: 70px !important;
}
.ccn:hover{
	color: #333333;
}
/*slider end*/

/*service start*/
.service{
	padding: 40px 0;
}
.c_title{
	margin-bottom: 45px;
}
.welcome_text{
	margin-bottom: 125px;
}
.p_subtitle{
	line-height: 26px;
	
}
.t_arrow{
	width: 2px;
	height: 50px;
	background-color: black;
	display: inline-block;
}
.c_h1{
	font-family: Lato-Regular;
	font-weight: 400;
	font-size: 30px;
	color: #333333;
}
.s_service{
	text-align: center;
	padding: 70px 25px 40px;
	border: 1px solid #cccccc;
}
.s_service h2{
	font-family: Lato-Bold;
	font-size: 18px;
	margin-bottom: 20px;
	color: #333333;
}
.s_service p{
	line-height: 25px;
	margin-bottom: 40px;
}
.s_service a{
	font-family: Roboto-Medium;
	color: #8e8e8e;
	text-decoration: none;
}
.s_icon{
	margin: 0 auto;
	margin-top: -92px;
	margin-bottom: 40px;
	background-color: white;
	width: 70px;
}
.s_icon i{
	font-size: 60px;
	color: #8e8e8e;
}
.s_hr{
	width: 50px;
	height: 1px;
	background-color: #cccccc;
	display: inline-block;
	margin-bottom: 20px;
}
/*service end*/

/*about start*/
.about{
	padding: 40px 0 80px;
}
/*about end*/

/*work start*/
.work{
	padding:0 0 80px;
	background-color: #f8f8f8;
}
.work_text{
	margin-bottom: 60px;
}
.work_button{
	margin-bottom: 20px;
	background-color: transparent;
}
.work_button ul{
	border: none !important;
}
.work_button ul li button{
	color: #8e8e8e;
	border: 1px solid transparent !important;
	border-radius: 1px !important;
}

/*work end*/

/*choice start*/
.choice{
	padding: 0 0 80px;
}
.choice_text{
	margin-bottom: 60px;
}
.s_choice{
	border-bottom: 1px solid #8e8e8e;
}
.s_choice:hover {
	border-bottom: 1px solid #333333;
}
.s_choice h4{
	font-family: Lato-Bold;
	font-size: 18px;
	text-transform: uppercase;
}
.s_c_title{}
.s_c_title span{
	padding-right: 15px;
}
.s_choice span i{
	font-size: 48px;
}
.s_choice p{
	margin: 25px 0;
}
/*choice end*/

/*team start*/
.team{
	padding: 0 0 80px;
	background-image: url(../images/team_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.team_text{
	margin-bottom: 60px;
}
.team_img{
	position: relative;
	
}
.team_img img{
	width: 100%;
}
.team_img_overlay{
	position: absolute;
	left: 0;
	background: white;
	opacity: 0;
	transition: 0.3s;
}
.s_team:hover .team_img_overlay{
	opacity: 1;
}
.team_icon{
	padding: 6px 10px;
	background: white;
	border: 1px solid transparent;
	transition: 0.3s;
	text-align: center;
}
.team_icon:hover{
	
	border-right: 1px solid #333333;
}
.team_icon:hover a i{
	color: #333333;
}
.team_title{
	background-color: white;
	padding: 8px 15px;
}
.team_title h4{
	font-family: Lato-Bold;
	font-size: 18px;
	font-weight: 700;
	color: #333333;
}
.team_title p{
	margin-bottom: 5px;
}

.team_icon a{
	text-decoration: none;
}
.team_icon a i{
	font-size: 24px;
	color: #8e8e8e;
}
/*team end*/

/*pricing start*/
.pricing{
	padding: 0 0 80px;

}
.pricing_card{
	padding: 40px 0 10px;
}
.pricing_card h1{
	color: #333333;
}
.pricing_card h1 small{
	font-size: 18px;
}
.pricing_text{
	margin-bottom: 60px;
}
.pricing_header{
	margin-top: -71px;
	margin-bottom: 30px;
}
.pricing_card ul li{
	line-height: 35px;
}
.pricing_header h4{
	font-family: Lato-Bold;
	font-size: 18px;
	color: #333333;
	background: white;
	display: inline-block;
	padding: 5px;
	text-transform: uppercase;
}
/*pricing end*/

/*testimonial start*/
.testimonial_buttons{
	height: 50%;
	background: bisque;
	position: relative;
}
.testimonial_buttons button span{
	transform: rotate(90deg);
}
.t_button_prev, .t_button_next{
	color: #8e8e8e;
	width: 100%;
}
.t_button_prev:hover{
	color: #333333;
}
.t_button_next:hover{
	color: #333333;
}
/*testimonial end*/
